<script setup lang="ts">
import { mdiAccount,mdiAccountMultiple,mdiStar } from '@mdi/js'
import { useLoginStore } from "@/stores/login"
const loginStore = useLoginStore();
const logout = () => {
  loginStore.logout();
}
</script>
<template>
  <v-app>
    <v-app-bar title="Application"><v-btn @click="logout">Logout</v-btn></v-app-bar>
    <v-navigation-drawer expand-on-hover rail>
      <v-list>
        <v-list-item
          prepend-avatar="https://randomuser.me/api/portraits/women/85.jpg"
          :title="loginStore.loginName"
          subtitle="sandra_a88@gmailcom"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item :prepend-icon="mdiAccount" title="User" value="user" to="/user"></v-list-item>
        <v-list-item :prepend-icon="mdiAccountMultiple" title="Shared with me" value="shared"></v-list-item>
        <v-list-item :prepend-icon="mdiStar" title="Starred" value="starred"></v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main> 
      <v-container>
        <RouterView></RouterView>
      </v-container>
    </v-main>
  </v-app>
</template>
