<script setup lang="ts">
import { useMassgeStore } from "@/stores/message"
const messageStore = useMassgeStore();
</script>

<template>
  <div class="text-center">
    <v-snackbar v-model="messageStore.isShow" :timeout="messageStore.timeout">
      {{ messageStore.message }}

      <template v-slot:actions>
        <v-btn color="red" variant="text" @click="messageStore.closeMessage"> Close </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
