<script setup lang="ts">
import LoginView from './views/LoginView.vue';
import MainView from './views/MainView.vue';
import { onMounted } from 'vue';
import { useLoginStore } from "@/stores/login"
import MessageBox from './components/MessageBox.vue';
const loginStore = useLoginStore();
onMounted(() => {
  loginStore.loadData();
})
</script>

<template>
<LoginView v-if="!loginStore.isLogin"/>
<MainView v-if="loginStore.isLogin" @logout="loginStore.logout" :loginName="loginStore.loginName"/>
<MessageBox></MessageBox>
</template>

<style scoped></style>
